/* ===== Sign-in button ====== */
:root {
    --base-color: rgba(255, 255, 255, 1);
    --hover-color: rgba(52, 58, 64, 1);
}

.vertical-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 40px;
    border: 3px solid var(--base-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    > .text {
        position: relative;
        color: transparent;
        background-image: linear-gradient(
            0deg,
            var(--hover-color) 0%,
            var(--hover-color) 50%,
            var(--base-color) 50%,
            var(--base-color) 100%
        );
        background-repeat: repeat;
        background-size: 100% 200%;
        background-position: 0 0;
        -webkit-background-clip: text;
        transition: background-position 500ms;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--base-color);
        transform-origin: 0 0;
        transform: scale3d(1, 0, 1);
        transition: transform 500ms;
    }

    &:hover {
        .text {
            background-position: 0 100%;
            color: $secondary-color;
        }

        &::before {
            transform-origin: 0 100%;
            transform: scale3d(1, 1, 1);
        }
    }
}

/* ================ */
