/* ======== Social icons in header desktop ========= */
.share-button {
    width: 150px;
    height: 50px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 1;
}

.share-button:hover {
    transform: scale(1.1);
}

.share-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $secondary-color;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    transition: 0.6s linear;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    border: 2px solid #ffffff;
}

.share-button:hover span {
    transform: translateX(-100%);
    transition-delay: 0.3s;
}

.share-button a {
    flex: 1;
    font-size: 26px;
    color: $secondary-color;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
}

.share-button:hover a {
    opacity: 1;
    transform: translateX(0);
}

.share-button a:nth-of-type(1) {
    transition-delay: 1s;
    margin-right: 20px;
}

.share-button a:nth-of-type(2) {
    transition-delay: 0.8s;
    margin-left: 20px;
}

/* ========================================= */
