/* ======== Social icons in header mobile ========= */
.share-button-mobile {
    width: 150px;
    height: 40px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 1;
}

.share-button-mobile:hover {
    transform: scale(1.1);
}

.share-button-mobile span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary-color;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    z-index: 999;
    transition: 0.6s linear;
    border-radius: 40px;
    font-size: 16px;
    border: 3px solid #ffffff;
}

.share-button-mobile:hover span {
    transform: translateX(-100%);
    transition-delay: 0.3s;
}

.share-button-mobile a {
    flex: 1;
    font-size: 26px;
    color: $secondary-color;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
}

.share-button-mobile:hover a {
    opacity: 1;
    transform: translateX(0);
}

.share-button-mobile a:nth-of-type(1) {
    transition-delay: 1s;
    margin-right: 20px;
}

.share-button-mobile a:nth-of-type(2) {
    transition-delay: 0.8s;
    margin-left: 20px;
}

/* ================================================ */
