// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import "variables";

// override bootstrap's success color by own (must declare before import bootstrap)
$success: $primary-color;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// AOS
@import "~aos/dist/aos.css";

// SimpleLightbox
@import "~simple-lightbox/dist/simpleLightbox";

@import "./social-icons-header-desktop";

@import "./social-icons-mobile";

@import "./sign-in-btn";

.t {
    border-style: solid;
    box-sizing: border-box;
    background-color: lightyellow;
    color: black;
    border-width: thin;
    border-color: red;
}

.font-white {
    color: #ffffff;
}

.font-black {
    color: #000000;
}

.navbar-toggler-icon > i {
    color: #ffffff;
    font-size: 28px;
}

.btn-custom {
    background-color: $primary-color;
    color: #ffffff;
}

#header {
    height: 100%;
    background-color: $secondary-color;
    color: #ffffff;
}

#header > div > a > img:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
}

.title {
    font-size: 3.75vw;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

/* ========= custom bootstrap style navbar  ========== */
// custom navbar styles
.navbar-custom {
    background-color: $primary-color;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: $secondary-color;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: $secondary-color;
}

.nav-link {
    font-size: 1.3rem;
}

#navbarNav > ul > li > a:hover {
    color: $secondary-color;
}

.nav-link > i:hover {
    color: $secondary-color;
}

.dropdown-item {
    font-size: 1rem;
}

/* ========================================= */

.wrapper {
    background-color: $third-color;
}

.custom-file-upload {
    position: relative;
}

.custom-footer {
    height: 100%;
    background-color: $primary-color;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.word-spacing-2 {
    word-spacing: 2px;
}

.vertical-center {
    margin: auto;
    width: 100%;
}

.social-icons {
    font-size: 2.8rem;
}

.social-icons > a {
    color: #ffffff;
    text-decoration: none;
}

.social-icons > a > i:nth-child(1):hover {
    color: #4267b2;
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.social-icons > a:nth-child(2) > i:hover {
    color: #c13584;
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.vertical-hr {
    transform: rotate(0deg);
    border: 0;
    height: 95%;
    width: 1px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.horizontal-hr {
    border: 0;
    height: 1px;
    width: 95%;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.75),
        rgba(0, 0, 0, 0)
    );
}

// hover from dropdown menu
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* ======================================== */

/* ============= Table styles ============= */
.table-font {
    font-size: 18px;
}

.table-standing-font,
.table-best-scorers-font {
    font-size: 16px;
}

.table-team-name {
    font-size: 1.2rem;
    width: 40%;
}

.table-icon {
    font-size: 2rem;
    color: $primary-color;
}

.table-score {
    font-size: 2rem;
}

/* ======================================== */

/* ============= hr with text ============= */
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;

    &:before {
        content: "";
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        background: linear-gradient(
            to right,
            transparent,
            #818078,
            transparent
        );
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 0.5em;
        line-height: 1.5em;
        // this is really the only tricky part, you need to specify the background color of the container element...
        color: #818078;
        background-color: #fcfcfa;
    }
}

/* ======================================== */

/* =========== Sidebar nav for admin panel ============= */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.toggle-admin-icon {
    font-size: 30px;
    cursor: pointer;
}

.list-group-item-logout {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-width: 0;
    border-right-width: 0;
    padding: 0.75rem 1.25rem;
}

/* ============================ */

.back-to-top {
    position: fixed;
    z-index: 999;
    bottom: 25px;
    right: 40px;
    display: none;
    background-color: $secondary-color;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    padding: 7px 0;
    text-align: center;
}

.back-to-top:hover i {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

a#back-to-top {
    text-decoration: none;
    color: #ffffff;
}

.site-map-list {
    list-style-type: none;
}

#add-player {
    display: none;
}

a.sort-icon {
    color: #ffffff;
    text-decoration: none;
}

.player-img {
    width: 90%;
    height: 90%;
}

.player-img {
    position: relative;
    width: 100%;
}

.player-img > img {
    max-width: 100%;
}

.player-profile-img > img {
    max-width: 60%;
}

/* ==== pagination custom style ==== */
.page-item.active .page-link {
    color: #fff !important;
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
}

.page-item a.page-link {
    color: $secondary-color;
}
/* ================================= */

h2 {
    font-family: "Lato", sans-serif;
}

#cookie-window {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: #777010;
}

.font-16 {
    font-size: 16px;
}

.bg-green {
    background-color: #86e796;
}

.bg-red {
    background-color: #ff8a8a;
}

@media screen and (min-width: 992px) {
    .second-place {
        height: 100px;
    }

    .third-place {
        height: 200px;
    }
}

.img-scorer {
    object-fit: cover;
}

.circular--portrait {
    position: relative;
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .circular--portrait {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.best-scorer-details {
    display: block;
}

.best-scorer-place {
    font-family: "Dancing Script", cursive;
    font-size: 32px;
}

i.best-scorer-icon-1,
i.best-scorer-icon-2,
i.best-scorer-icon-3 {
    font-size: 32px;
}

i.best-scorer-icon-1 {
    color: gold;
}

i.best-scorer-icon-2 {
    color: silver;
}

i.best-scorer-icon-3 {
    color: saddlebrown;
}

.best-scorer-stats {
    font-size: 24px;
}

.contact-img {
    max-width: 75%;
}

.button-home {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: darken($primary-color, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.circular--portrait-players-list {
    position: relative;
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    &:hover {
        transform: scale(1.15);
        transition-duration: 1s;
    }
}

.circular--portrait-players-list img {
    width: 100%;
    height: auto;
}

.player-list-text {
    font-size: 18px;
    font-family: "Lato", sans-serif;
}

.sidebar-icon {
    font-size: 18px;
}

.font-message-icon {
    font-size: 20px;
}

.anchor {
    display: block;
    height: 235px; /*same height as header*/
    margin-top: -235px; /*same height as header*/
    visibility: hidden;
}

.timetable-font {
    font-size: 0.8rem;
}

.timetable-font-score {
    font-size: 0.75rem;
}
